p            { font-family: Arial; font-size: 12pt; text-indent: 0; word-spacing: 0; 
               line-height: 150%; margin-left: 15; 
               margin-right: 15; margin-top: 0; margin-bottom: 0 }
h1           { font-family: Impact; line-height: 150%; font-size: 36pt; margin-left: 15; 
               margin-right: 15 }
h2           { font-family: Arial; line-height: 150%; margin-left: 15; margin-right: 15 }
h3           { font-family: Arial; line-height: 150%; margin-left: 15; margin-right: 15 }
h4           { font-family: Arial; line-height: 150%; margin-top: 0; margin-bottom: 0; margin-left: 15; 
					margin-right: 15 }